body {
  font-family: "Arial", sans-serif;
  background-color: #f0e6f6;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
  margin: 50px auto;
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #ff69b4;
}

button {
  margin: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#btnYes {
  background-color: #ff69b4;
  color: white;
}

#btnNo {
  background-color: #ccc;
  color: #333;
}

.hidden {
  display: none;
}

#response {
  margin-top: 20px;
  font-size: 20px;
  color: #ff69b4;
}
